@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif
}

body{
    height: 100vh;
    background: #002339;
}

.contanier{
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em  1.8em ;
    background-color: #201f28;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.5);
}
.search-contanier{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}
.search-contanier input,
.search-contanier button{
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;


}
.search-contanier input{
    background-color: transparent;
    border: 1px solid #a0a0a0;
    color: white;
    padding: 0.7em;
}
.search-contanier input:focus{
    border-color: #fff;
}

.search-contanier button{
    background-color: #1ebbd7;
    border-radius: 0.6em;
    border: none;
    cursor: pointer;
}

#result{
    color: #fff;
    
}

.info{
    position: relative;
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    margin-top: 1.2em;
}

.poster{
    width: 100%;

}
.rating img{
    width: 1.2em
}

h2{
   text-align: center;
   font-size: 1.5em;
   font-weight: 600;
   letter-spacing: 0.06em;
}

.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;
    margin: 0.6em 0 0.9em 0;
}

.rating h4{
    display: inline-block;
    font-style: 1.5em;
    font-weight: 500;
}

.detalis{
    display: flex;
    font-size: 0.9em;
    gap: 1em;
    justify-content: center;
    color: #a0a0a0;
    margin: 0.6em 0;
    font-weight: 300;
}


.genre{
    display: flex;
    justify-content: space-around;
}
.genre div{
    border: 1px solid #a0a0a0;
    text-align: center;
    color: #a0a0a0;
    margin: 0.9em;
    padding: 0.2em;
    border-radius: 5px;
}

h3{
    font-weight: 500;
    margin-top: 1em;
}
p{
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.8em;
    text-align: justify;
    color: #a0a0a0;
}

.msg{
    text-align: center;
}

@media (max-width: 576px) {
    .search-contanier{
        display: flex;
   justify-content: space-between;
        gap: 0.7em;
    }
}

